*.iml
.gradle
/local.properties
/.idea/
/.kotlin/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.omx
.cursor
.trae
app/release/

# Ignore all Gradle/Android build output directories
**/build/
